%button#menu-toggle.menu-toggle
  %span Menu
#theSidebar.sidebar
  = image_tag "profile.jpg"
  .name Ashley St Pier
  .separator
  .bio
    .description
      Creative full-stack developer. Love hacking together useful/useless demos with the latest tech goodies.
    %div
      = link_to 'mailto:ashleystpier@gmail.com', {target: '_blank'} do
        Download my CV

  %ul.social
    %li
      = link_to 'https://dribbble.com/AshStPier', {target: '_blank'} do
        %i.fa.fa-dribbble
    %li
      = link_to 'https://twitter.com/AshStPier', {target: '_blank'} do
        %i.fa.fa-twitter
    %li
      = link_to 'https://github.com/AshStPier', {target: '_blank'} do
        %i.fa.fa-github-alt

