%article.content__item

  .meta.meta--full
    %h2.title.title--full AXEON Cycling Team
    %span.category.category--full Website Development
    .description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %span.meta__date
      %i.fa.fa-calendar-o
      6 Apr
    %span.meta__reading-time
      %i.fa.fa-clock-o
      2 min read
    %span.meta__misc.meta__misc--seperator
      %i.fa.fa-comments-o
      7 comments
    %span.meta__misc
      %i.fa.fa-heart
      12 favorites
    %nav.article-nav
      %button
        %i.fa.fa-angle-left
        %span Previous
      %button
        %span Next
        %i.fa.fa-angle-right
  = image_tag "axeon.jpg"
  = image_tag "1.jpg"
  = image_tag "2.jpg"
  = image_tag "3.jpg"
  = image_tag "4.jpg"