%article.content__item

  .meta.meta--full
    %h2.title.title--full AXEON Cycling Team
    %span.category.category--full Website Development
    .description--full Full website build for the newly branded Axeon Cycling Team. The brief was to create a cutting-edge and slick brand for the young riders and to be disruptive in the sports team space.
    %span.meta__misc.meta__misc--seperator
      %i.fa.fa-external-link.fa-fw
      = link_to "axeoncycling.com", "http://www.axeoncycling.com/"
    %span.meta__misc
      %i.fa.fa-code.fa-fw
      Front end and design
    %span.meta__misc
      %i.fa.fa-calendar-o.fa-fw
      2015
    / %nav.article-nav
    /   %button
    /     %i.fa.fa-angle-left
    /     %span Previous
    /   %button
    /     %span Next
    /     %i.fa.fa-angle-right
  .content--wrapper
    = image_tag "axeon/1.jpg"
    .caption 3D race route map
    = image_tag "axeon/2.jpg"
    .caption 3D bike model
    = image_tag "axeon/3.jpg"
    .caption History of the team timeline
    = image_tag "axeon/4.jpg"
    .caption Team selection page
    = image_tag "axeon/5.jpg"
    .caption Video and photo gallery