%article.content__item

  .meta.meta--full
    %h2.title.title--full Kahli Lifestyle
    %span.category.category--full E-commerce Website
    .description--full Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    %span.meta__misc.meta__misc--seperator
      %i.fa.fa-external-link.fa-fw
      = link_to "kahlilifestyle.com", "http://kahlilifestyle.com/"
    %span.meta__misc
      %i.fa.fa-code.fa-fw
      Front end
    %span.meta__misc
      %i.fa.fa-calendar-o.fa-fw
      2013
    / %nav.article-nav
    /   %button
    /     %i.fa.fa-angle-left
    /     %span Previous
    /   %button
    /     %span Next
    /     %i.fa.fa-angle-right
  = image_tag "5.jpg"
  = image_tag "1.jpg"
  = image_tag "2.jpg"
  = image_tag "3.jpg"
  = image_tag "4.jpg"