%article.content__item

  .meta.meta--full
    %h2.title.title--full NEON Adventures
    %span.category.category--full Website Development
    .description--full Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    %span.meta__misc.meta__misc--seperator
      %i.fa.fa-external-link.fa-fw
      = link_to "neonadventures.com", "http://neonadventures.com/"
    %span.meta__misc
      %i.fa.fa-code.fa-fw
      Front end
    %span.meta__misc
      %i.fa.fa-calendar-o.fa-fw
      2014
    / %nav.article-nav
    /   %button
    /     %i.fa.fa-angle-left
    /     %span Previous
    /   %button
    /     %span Next
    /     %i.fa.fa-angle-right
  = image_tag "neon/1.jpg"
  .caption (NEON branding and homepage)
  = image_tag "neon/2.jpg"
  .caption (Finance and investments page)
  = image_tag "neon/3.jpg"
  .caption (Lifestyle video background)
  = image_tag "neon/4.jpg"
  .caption (Columns Riad in Marrakech)
  = image_tag "neon/5.jpg"
  .caption (Custom Google map)
  = image_tag "neon/6.jpg"
  .caption (Philanthropy partners page)