---
title: Ashley St Pier
---

.container

  = partial "layouts/sidebar"
  #theGrid.main
    %section.grid
      / = partial "layouts/header"

      = partial "grid_items/axeon"
      = partial "grid_items/raceworks"
      = partial "grid_items/neon"
      = partial "grid_items/bookmix"
      = partial "grid_items/mln"
      = partial "grid_items/ukcmap"
      = partial "grid_items/erudify"
      = partial "grid_items/kahli"

    %section.content
      .scroll-wrap

        = partial "grid_content/axeon"
        = partial "grid_content/raceworks"
        = partial "grid_content/neon"
        = partial "grid_content/bookmix"
        = partial "grid_content/mln"
        = partial "grid_content/ukcmap"
        = partial "grid_content/erudify"
        = partial "grid_content/kahli"

      %button.close-button
        %i.fa.fa-angle-left
        Projects
      .close-bar
    .main-overlay